<div class="train__links">
    {{#trains}}
    <a href="{{pageUrl}}">
        <div class="train__img" style="background-image: url({{imageUrl}}); "></div>
        <h2 class="train__title">{{heading}}</h2>
    </a>
    {{/trains}}
</div>
