<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#STYLE_URLS}}
        <link rel="stylesheet" href="{{.}}">
    {{/STYLE_URLS}}

    <title>{{title}}</title>
</head>
<body>
    <main>{{&main}}</main>

    {{#SCRIPT_URLS}}
        <script src="{{.}}"></script>
    {{/SCRIPT_URLS}}

</body>
</html>
    