{% extends 'wrappers/with_sidebar.html' %}

{% block page %}
<h1>Книга «Дирекция тяги-локомотив 15 лет в пути»</h1>

<div class="content__scroll-wrapper">
    <p>12 сентября 2024 года генеральный директор компании Олег Зайцев вручил начальнику депо книгу «Дирекция тяги. Локомотив. 15 лет в пути», посвященную 15-летию отрасли локомотивного хозяйства, где есть статья про сервисное депо «Зауралье», как образцового депо компании «СТМ-Сервис».</p>

    <img src="{{ url_for('static', filename='images/awards/direction_book/men.png') }}">

    <img src="{{ url_for('static', filename='images/awards/direction_book/paper.png') }}">
</div>
{% endblock %}
