<main>
    <div class="sidebar">
        <div class="sidebar__title">
            <img class="sidebar__logo" src="../dists/images/logo.png">
            <div class="sidebar__sinara">синара</div>
            <div class="sidebar__machine">транспортные машины</div>
            
            <div class="sidebar__service">сервис</div>
            <div class="sidebar__depo">Сервисное локомотивное депо «Зауралье»</div>
        </div>
        <img src="../dists/images/sidebar.png">
    </div>
    <div class="content">
        <div class="content__header">
            <a class="content__back" href="../index.html">
                < Назад
            </a> 
        </div>
        
        <div class="content__card">
            <img class="content__avatar" src="../dists/images/people/{{image}}">
            <div class="content__text">
                <h1>
                    {{heading}}
                </h1>
                {{&content}}
                
                <span class="content__book">
                    Занесен в Книгу Почёта в 2024 году
                </span>

            </div>
        </div>
</main>