<p>12 сентября 2024 года генеральный директор компании Олег Зайцев вручил начальнику депо книгу «Дирекция тяги. Локомотив. 15 лет в пути», посвященную 15-летию отрасли локомотивного хозяйства, где есть статья про сервисное депо «Зауралье», как образцового депо компании «СТМ-Сервис».</p>

<img src="{{MEN_IMAGE_URL}}">

<img src="{{PAPER_IMAGE_URL}}">
