<p>СЛД «Зауралье» три раза становилось лучшим депо компании и два раза призером этой премии. За высокие трудовые достижения коллектив депо «Зауралье» был отмечен первым местом в 2017, 2020, 2022 годах, вторым местом в 2018 году и третьим местом в 2019 году.</p>

<p>Критериями выбора лучшего СЛД являются как основные производственные показатели (выработка на одного основного рабочего, количество случаев неплановых ремонтов по вине работников, коэффициент текучести кадров), так и дополнительные параметры – выполнение годового плана по выручке, заданного уровня коэффициентов технической готовности к эксплуатации локомотивов, плана по чистой прибыли регионального управления сервиса.</p>

<p>Оцениваются также и штрафные показатели оценки. У лучшего депо не должно быть несчастных случаев на производстве, штрафных санкций от надзорных органов за нарушение требований охраны труда и экологической безопасности, большого количества случаев нарушения требований трудовой дисциплины и экономической безопасности.</p>

<h2>«Лучшее Сервисное локомотивное депо» ООО СТМ-Сервис»</h2>
<div class="years">
	<a>2017 год</a>
	<a>2018 год</a>
	<a>2019 год</a>
	<a>2020 год</a>
	<a>2022 год</a>
	<a>2023 год</a>
</div>

{{#YEARS_IMAGE_URLS}}
<img src="{{.}}">
{{/YEARS_IMAGE_URLS}}
