{% extends 'wrappers/with_sidebar.html' %}

{% block page %}
<h1>Династия Абсалямовых</h1>

<div class="content__scroll-wrapper">

    <div class="content__photos">
        <img src="{{ url_for('static', filename='images/dynasties/absolyamov/1.jpg') }}">
        <img src="{{ url_for('static', filename='images/dynasties/absolyamov/2.jpg') }}">
        <img src="{{ url_for('static', filename='images/dynasties/absolyamov/3.jpg') }}">
    </div>

    <p>
        <em>
            <strong>
                Общий стаж – 173 года
            </strong>
        </em>
    </p>
    <p>
        <em>
        Продолжатель – Татьяна Абсалямова, кладовщик СЛД «Зауралье»
        </em>
    </p>
    <p>
        В первичной профсоюзной организации «СТМ-Сервис» – с 2014 г.
    </p>
    <p>
        История этой большой курганской семьи насчитывает более 170 лет общего трудового стажа. Основу династии составляли
        железнодорожники, и сейчас Татьяна и Петр Абсалямовы продолжают эту традицию, работая в сервисном локомотивном депо
        «Зауралье» и эксплуатационном депо Курган.
    </p>
    <p>
        История этой большой курганской семьи насчитывает более 170 лет общего трудового стажа. Основу династии составляли
        железнодорожники, и сейчас Татьяна и Петр Абсалямовы продолжают эту традицию, работая в сервисном локомотивном депо
        «Зауралье» и эксплуатационном депо Курган.
    </p>
    <p>
        Да, Петру Абсалямову в семье есть на кого равняться: Геннадий Павлович был ветераном труда, он отработал 39 лет.
        Пришёл после Курганского железнодорожного училища в локомотивное депо Курган слесарем, кочегаром на паровозе, потом
        учился в дортехшколах Троицка и Челябинска, став сперва помощником, а после и машинистом электровоза. Его жена Нина
        Александровна была диктором на вокзале Курган, а после – работала в товарной конторе станции.
    </p>
    <p>
        «К дедушке всегда хорошо относились, – вспоминает Петр Абсалямов. – Даже когда он вышел на пенсию, нас с ним
        частенько подвозили со станции Утяк до Кургана. Там была дача».
    </p>
    <p>
        Настоящей легендой был и Павел Васильевич Останин, прадед Петра Абсалямова. Окончив курсы фабрично-заводского
        обучения, он также начинал слесарем в локомотивном депо Курган. В 1938-м после курсов при академии железнодорожного
        транспорта имени И.В. Сталина Павел Васильевич стал помощником машиниста паровоза, а в 1957-м, после обучения в
        Златоусте, освоил и ремесло машиниста на электрической тяге. За свой труд был награжден знаками «Отличный
        паровозник», «Ударник Сталинского призыва», а при награждении депо знаменем Государственного комитета обороны был в
        числе передовиков.
    </p>
    <p>
        Родоначальником же трудовой династии стал Василий Степанович Останин, который приехал в Курган из Златоуста еще до
        революции. Он устроился работать в локомотивное депо кочегаром паровоза, трудился им 14 лет, а после, обучившись,
        стал помощником машиниста паровоза серии Ов.
        Всю эту железнодорожную историю бережно сохранила и передала сыну Петру Татьяна Геннадьевна Останина-Абсалямова,
        трудящаяся кладовщиком в сервисном локомотивном депо «Зауралье» «СТМ-Сервис».
    </p>
    <p>
        Свой путь в профессии Татьяна Абсалямова начала в 1988 году в локомотивном депо Курган штукатуром-маляром. В 2011
        году она приступила к обязанностям оператора электронно-вычислительных машин 4-го разряда участка по техническому
        обслуживанию электровозов и тепловозов (ТО-2), затем работала слесарем-ремонтником 3-го разряда участка по ремонту
        оборудования и инструмента, а последние 10 лет работает в СЛД «Зауралье» кладовщиком.
    </p>

</div>
{% endblock %}
