{% extends 'wrappers/with_sidebar.html' %}

{% block page %}
<h1>История депо</h1>

<div class="content__scroll-wrapper">

    <p>Локомотивное депо Курган - одно из старейших предприятий Курганской области.
        Дата его рождения 29 октября 1896 года.
        Весной 1891 года в России был опубликован приказ Александра III о строительстве железнодорожного пути через всю
        Сибирь.
        К этому времени правительством России было рассмотрено несколько вариантов грандиозной стройки.
        За основу был принят третий вариант от Самары через Уфу, Златоуст, Челябинск, Курган и Омск.</p>
    <p>В июле 1892 сотни наёмных рабочих приступили к прокладке железнодорожного пути на участке Челябинск - Курган.
        Велось оно полностью вручную без применения каких-либо машин и механизмов. 4 октября 1893 года на станцию Курган
        прибыл первый поезд.</p>

    <img src="{{ url_for('static', filename='images/depo_history/old0.jpg') }}">

    <p>Временная эксплуатация участка Челябинск-Курган дала возможность доставки материалов,
        в частности красного кирпича и гранитного камня, для строительства паровозного депо
        и железнодорожного вокзала с уральских каменоломен.</p>
    <p>В октябре 1896 года был подписан акт сдачи в эксплуатацию всего участка от Челябинска до Омска,
        и с этого же момента вступило в постоянную эксплуатацию паровозное депо Курган на 9 стойл - самое крупное депо
        на этом участке.
        Паровозное депо Курган строил техник Назаров Алексей Клементьевич, помогал ему Иванов Антон Алексеевич
        (из воспоминаний дочери Валентины Антоновны Зудиловой).</p>

    <img src="{{ url_for('static', filename='images/depo_history/old1.jpg') }}" class="content__left-photo">

    <p>После сдачи в эксплуатацию на железнодорожном участке Челябинск – Омск обращалось 29 паровозов и 1010 вагонов,
        в том числе 31 пассажирский. Максимальная скорость движения не превышала 35 км/ч.</p>
    <p>Депо тех лет представляло одно из самых крупных предприятий на Сибирской магистрали.
        К этому времени кроме паровозного депо были построены мастерские и вагонный сарай, без которых невозможно
        было ремонтировать паровозы и вагоны.</p>
    <p>Десятилетняя эксплуатация Сибирской магистрали заставила Министерство путей сообщения России пойти на
        скорейшее решение вопроса по замене паровозов малой мощности Т, которые не могли обеспечить возрастающий
        грузопоток.
        Быстрый рост промышленного производства в Сибири и возрастающий поток грузов требовали технического
        переворота.</p>
    <p>В 1903 г. в депо начинают поступать паровозы серии Ов формулы 0-4-0 Од, пассажирские Ав.
        Возникла необходимость строительства нового пассажирского депо, которое и было сдано в эксплуатацию в 1904
        году.</p>
    <p>До 1914 года по станции Курган проходило ежедневно от 7 до 10 пар поездов.
        Отопление паровозов производилось дровами или нефтью. В ночное время место остановки поездов на станции
        освещалось кострами.
        Работа в депо напоминала ад. Но несмотря на тяжелые условия труда, депо развивалось, быстро строилось, являясь
        крупным предприятием
        Зауралья и Сибирской магистрали.</p>
    <p>Октябрь 1917 года, гражданская война 1918-1920 годов оставили свой разрушительный след в городе и депо.
        Железнодорожный узел, станция Курган были сильно разрушены. Паровозный парк был приведен в негодность, вагоны,
        имевшиеся на станции выведены из строя. Чтобы все это восстановить, нужно было пережить немалые трудности.</p>
    <p>До 1930 года в паровозном депо Курган в основном эксплуатировались паровозы серии Ов и Ав.
        Позднее в Курганское депо приходят более сильные паровозы серии Эм. Весовая норма поезда на эти паровозы из
        Шумихи в
        Курган составляла 1800 тонн. Со станции Курган поезда выталкивали толкачи, а дальше поезда следовали с одним
        локомотивом.</p>
    <p>К началу строительства второго пути в депо было чуть более 30 паровозов. С вводом второго пути и открытием
        железнодорожной
        ветки Шадринск-Курган в июне 1933 года работали уже 78 паровозов серий Эм, ЕА, Ов, Щ, пассажирские Су.</p>

    <div class="content__photos">
        <img src="{{ url_for('static', filename='images/depo_history/old2.jpg') }}">
        <img src="{{ url_for('static', filename='images/depo_history/old3.jpg') }}">
    </div>

    <p>Для обеспечения ремонта такого количества паровозов требовалось новое оборудование. В кузнице депо был
        смонтирован
        паровой молот, установлены токарные станки, бандажные, столярный и шеечный станки. Возросшее в эксплуатации
        количество
        паровозов потребовало резкого увеличения расхода воды для паровозов, и только в марте 1933 года было поднято в
        водонапорную
        башню 80 тысяч кубометров воды. В этот год резко возросла пропускная способность станции Курган.</p>

    <img src="{{ url_for('static', filename='images/depo_history/old4.jpg') }}" class="content__right-photo">

    <p>За квартал в среднем каждые сутки с Омской дороги принималось 447 вагонов, сдавалось 500, что составляло
        14-15 пар поездов, не считая пассажирских, или в два раз больше чем в 1913 году.</p>
    <p>Великая Отечественная война вписала свои тяжелые строки в историю локомотивного депо Курган.
        Война предъявила железнодорожникам исключительные требования по срочности перевозок.
        Курганские машинисты стали водить поезда с повышенной скоростью. Суточный пробег поезда по сравнению с 1940
        годом увеличился на 62 км.</p>
    <p>Коллектив курганских железнодорожников удостоен Красного Знамени Государственного Комитета Обороны,
        которое оставлено в локомотивном депо на вечное хранение.</p>
    <p>В годы войны на полях сражений три работника паровозного депо Курган были удостоены высокого звания
        Героя Советского Союза. Это Кремлев Евгений Константинович, Радионов Николай Иванович и Криволапов Григорий
        Архипович.</p>
    <p>30 декабря 1956 года в жизни депо начинается новый этап. Под мелодию государственного гимна отправляется в
        первый путь грузовой поезд, в голове которого поблескивал краской новый электровоз.
        Вели этот электровоз будущий герой социалистического труда машинист Борис Карпеш и помощник машиниста Борис
        Лещенко.</p>
    <p>В 1958г. была погашена топка последнего паровоза – всю перевозку грузов взяли на себя электровозы.
        Средняя техническая скорость увеличилась с 37 км/ч до 56 км/ч. В 1957г. началось техническое перевооружение
        локомотивного парка и всей ремонтной базы депо. Грузовое движение обслуживалось электровозами ВЛ22, а в 1960г.
        на смену электровозам ВЛ22 приходят электровозы ВЛ8.</p>
    <p>В период с 1971-1974гг. вступили в строй новые цеха – электромашинный, цех МВС, бытовой корпус.
        Были проведены мероприятия по оснащению цехов механизированными позициями и участками.
        В середине 80-х годов прошло успешное освоение электровозов ВЛ10, а также их эксплуатация по системе многих
        единиц и СМЕТ-РАДИО.</p>
    <p>В 1993г. заканчивается электрификация участка Утяк-Пресногорьковская и тепловозная тяга меняется на
        электрическую,
        что повысило эксплуатационную надежность работы этого участка. В 1995г. коллектив локомотивного депо осваивает
        вождение пассажирских поездов на удлиненном плече обслуживания Курган-Петропавловск-Исиль-Куль.</p>

    <div class="content__photos">
        <img src="{{ url_for('static', filename='images/depo_history/new0.jpg') }}">
        <img src="{{ url_for('static', filename='images/depo_history/new1.jpg') }}">
    </div>

    <p>В 2008г. в связи со структурными преобразованиями в локомотивном хозяйстве ЮУЖД произошло разделение
        ремонтного и эксплуатационного депо.</p>
    <p>В 2014 г. ремонтное локомотивное депо Зауралье вошло в состав сервисных локомотивных депо компании
        ООО «СТМ-Сервис». В настоящее время депо Зауралье представляет собой комплекс цехов общей площадью
        49,5 тыс. кв.м. с развитой инфраструктурой.</p>

    <div class="content__photos">
        <img src="{{ url_for('static', filename='images/depo_history/new2.jpg') }}">
        <img src="{{ url_for('static', filename='images/depo_history/new3.jpg') }}">
    </div>

</div>

{% endblock %}
