<div class="train__links">
    {{#trains}}
    <a class="">
        <div class="train__img" style="background-image: url({{image}}); "></div>
        <h2 class="train__title">{{title}}</h2>
    </a>
    {{/trains}}
</div>
