<div class="page-with-sidebar">
	<div class="sidebar">
	    <div class="sidebar__title">
	        <img class="sidebar__logo" src="/dists/images/logo.png">
	        <div class="sidebar__sinara">синара</div>
	        <div class="sidebar__machine">транспортные машины</div>

	        <div class="sidebar__service">сервис</div>
	        <div class="sidebar__depo">Сервисное локомотивное депо «Зауралье»</div>
	    </div>
	    <img src="/dists/images/sidebar.png">
	</div>

	<div class="content">
	    {{&content}}
	</div>
</div>
